.vs
Debug
Release
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide
*.sln.ide.user
*.sln.ide.userosscache
*.sln.ide.userprefs
*.exe
*.pdb
*.ilk
*.idb
*.ipch
*.aps
*.ncb
*.sdf
*.opensdf
*.cache
*.scc